/* Глобальний фон */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #05040a;
  color: #eee9ff;
}

/* Контейнер */
#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

/* Header */
.header {
  display: flex;
  gap: 22px;
  align-items: center;
  background: #151122;
  padding: 22px;
  border-radius: 14px;
  border: 1px solid #2f2660;
}

/* Фото */
.avatar {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3a2f7a;
}

/* Секції */
section {
  background: #151122;
  padding: 20px;
  margin: 20px auto 0;
  border-radius: 14px;
  border: 1px solid #2f2660;
}

/* Текст */
section p {
  font-size: 16px;
  line-height: 1.7;
  color: #dcd6ff;
  margin-bottom: 14px;
}

/* Списки */
section ul {
  padding-left: 22px;
}

section ul li {
  line-height: 1.9;
  margin-bottom: 8px;
  color: #e2ddff;
}

/* Заголовки */
h1 {
  margin: 0 0 6px 0;
  color: #e0d4ff;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #b6a5ff;
  border-left: 3px solid #7c6cff;
  padding-left: 10px;
}

/* Адреса */
address {
  font-style: normal;
  color: #bdb6e6;
}

/* Посилання */
a {
  color: #cbbcff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 28px;
  color: #8f87b8;
}